services:
  signer4mpc:
    image: IMAGE
    ports:
      - "4433:4433"
    privileged: true 
    environment:
      DISABLE_TLS: 1
      DB_PATH: "/data/keys.db"
      HSM: ${BITGO_HSM}
    volumes:
      - "/mnt/data:/data:Z"
